<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <title>Servicios</title>
</head>
<body>
    <nav class="navegador">  
        <a href="../index.html">
            <img src="../img/nav.png" alt="logo de empersa">
        </a>

        <ul>
            <li><a href="../index.html">INICIO</a></li>
            <li><a href="../views/servicios.html">SERVICIOS</a></li>
            <li><a href="../views/nosotros.html">NOSOTROS</a></li>
            <li><a href="../views/contacto.html">CONTACTO</a></li>
            <li><a href="../views/pagos.html">FORMAS DE PAGO</a></li>
        </ul>
    </nav>   
    <footer>
        <div class="footer1">
            <img src="../img/logoCuadrado.png" alt="logo con letras"  width="100" height="100">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore aliquid tempora, esse quo earum et! Consequatur unde rerum maiores ipsa mollitia voluptatum non animi. Assumenda maxime accusantium temporibus excepturi!</p>
        </div>
        <div class="footer2">
        <a href="https://www.facebook.com" target="_blank">
            <img src="../img/facebook.png" alt="logo facebook"  width="100" height="100">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="../img/instagram.png" alt="logo instagram"  width="100" height="100">
        </a>
        <a href="https://web.whatsapp.com" target="_blank">
            <img src="../img/whatsapp.png" alt="logo wpp" width="100" height="100">
        </a>
        </div>
    </footer>
</body>
</html>